<div class="ui grid">
  <div class="six wide column">
    <%= render 'form' %>
  </div>
</div>
<% if @pic_urls && @pic_urls.any? %>
  <div class="ui divider"></div>
  <%= render 'pictures' %>
<% end %>

